# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

/Phosphophyllite/src/main/quartzpp/cmake-build-debug/
/Phosphophyllite/src/main/quartzpp/cmake-build-release/
/Phosphophyllite/src/main/java/net/roguelogix/phosphophyllite/quartz/client/gl45cpp/JNI.class
/Phosphophyllite/src/main/resources/assets/phosphophyllite/libs